@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --pokemon-red: #e3350d;
  --pokemon-blue: #316ab2;
  --pokemon-yellow: #ffcb01;
  --background: #32363a;
  --background-light: #596067;
  --foregroud: white;
  background-color: var(--background);
  color: var(--foregroud);
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  font-family: "Orbitron", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  text-align: center;
}

.header a {
  color: var(--foregroud);
  text-decoration: none;
}

.header-logo {
  max-width: 100%;
  max-height: 80px;
}

.header-logo-div,
.header-title,
.header-credits {
  flex-basis: 30%;
  flex-shrink: 1;
}

.breadcrumb {
  padding: 0.5rem 1rem;
  background-color: var(--pokemon-blue);
}

.breadcrumb a {
  color: white;
  text-decoration: none;
}

.breadcrumb span {
  padding: 0 0.2rem;
}

.hero-wrapper {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  max-width: 100%;
}

.hero-img-div {
  --hero-margin: 7rem;
  --hero-margin3: 9rem;
  --hero-margin2: -1rem;
  border-radius: 50%;
  border: rgba(255, 255, 255, 0.5) solid 2px;
  background-color: transparent;
  box-shadow: rgba(255, 255, 255, 0.75) 0 0 2rem,
    rgba(255, 255, 255, 0.75) 0 0 1.5rem inset;
  overflow: visible;
  transition: all 0.1s ease;
  flex-shrink: 2;
  flex-basis: 9%;
  max-width: 8rem;
}

.hero-img-div:hover {
  transform: scale(1.1);
}

.hero-img0 {
  align-self: flex-start;
  margin-top: var(--hero-margin3);
}
.hero-img1 {
  align-self: flex-end;
  margin-bottom: var(--hero-margin);
  margin-left: var(--hero-margin2);
}
.hero-img2 {
  align-self: flex-start;
  margin-top: var(--hero-margin);
  margin-left: var(--hero-margin2);
}
.hero-img3 {
  align-self: flex-end;
  margin-bottom: var(--hero-margin3);
  margin-left: var(--hero-margin2);
}
.hero-img4 {
  flex-shrink: 1;
  margin: 1rem;
  max-width: 25rem;
  flex-basis: 25%;
}
.hero-img5 {
  align-self: flex-end;
  margin-bottom: var(--hero-margin3);
  margin-right: var(--hero-margin2);
}
.hero-img6 {
  align-self: flex-start;
  margin-top: var(--hero-margin);
  margin-right: var(--hero-margin2);
}
.hero-img7 {
  align-self: flex-end;
  margin-bottom: var(--hero-margin);
  margin-right: var(--hero-margin2);
}
.hero-img8 {
  align-self: flex-start;
  margin-top: var(--hero-margin3);
}

@media screen and (max-width: 768px) {
  h1.header-title {
    font-size: 1.3rem;
  }
  div.header-credits {
    font-size: 0.8rem;
  }
  .hero-img0,
  .hero-img1,
  .hero-img7,
  .hero-img8 {
    display: none;
  }
  .hero-img2,
  .hero-img3,
  .hero-img5,
  .hero-img6 {
    flex-basis: 15%;
  }
  .hero-img4 {
    flex-basis: 35%;
    margin: 1rem 0;
  }
  .hero-wrapper {
    min-height: auto;
  }
}

.pokedex-wrapper {
  margin: 2rem auto;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.pokedex-grid {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.card {
  list-style: none;
  text-align: center;
  width: 15rem;
  height: fit-content;
  margin: 0.75rem;
  cursor: pointer;
  position: relative;
  border-radius: 1rem;
  /* background-color: var(--background-light); */
  box-shadow: var(--foregroud) 0 0 10px;
  transition: all 0.1s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  max-width: 100%;
}

.card a {
  text-decoration: none;
  color: var(--foregroud);
}

.card-num {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: #32363aae;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .card {
    width: 200px;
    max-width: 40%;
    font-size: 0.7rem;
  }

  .card .type-btn-small {
    font-size: 0.6rem;
    max-width: 40%;
  }
}
.spinner {
  border: 5px solid lightgray;
  border-top: 5px solid gray;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.8s linear infinite;
  margin: 20px auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button {
  background-color: var(--pokemon-yellow);
  color: var(--pokemon-blue);
  font-size: 1.5rem;
  font-weight: 900;
  padding: 1rem 5rem;
  margin: 1rem;
  border: 5px solid var(--pokemon-red);
  border-radius: 2.5rem;
  cursor: pointer;
  box-shadow: var(--foregroud) 0 0 10px;
  transition: all 0.1s ease;
}

.button:hover {
  transform: scale(1.1);
}

/* Type buttons */

.type-btn {
  text-align: center;
  border-radius: 20px;
  border: none;
  margin: 0.5rem;
  padding: 0.2rem;
  font-size: 1.2rem;
  min-width: 9rem;
  cursor: pointer;
}

.type-btn-small {
  margin: 0.2rem;
  font-size: 1rem;
  min-width: auto;
  width: 5rem;
}

.poison {
  background-color: #b87fc8;
  color: white;
}

.grass {
  background-color: #9ccc50;
}

.electric {
  background-color: #edd435;
}

.fire {
  background-color: #fc7d22;
  color: white;
}

.bug {
  background-color: #719e3e;
  color: white;
}
.dark {
  color: white;
  background-color: #707070;
}
.fairy {
  background-color: #fcb8e8;
}
.fighting {
  color: white;
  background-color: #d56622;
}
.ghost {
  color: white;
  background-color: #7b62a3;
}
.ice {
  background-color: #51c5e7;
}
.normal {
  background-color: #a4acaf;
}
.psychic {
  background-color: #f466b9;
  color: white;
}
.rock {
  color: white;
  background-color: #a38c21;
}
.steel {
  background-color: #616161;
  color: white;
}
.water {
  color: white;
  background-color: #4591c4;
}
.dragon {
  background: linear-gradient(
    to bottom,
    #52a4ce 50%,
    #f06e56 50%,
    #f06e56 100%
  );
  color: white;
}
.flying {
  background: linear-gradient(
    to bottom,
    #3bc7ee 50%,
    #bcb9b8 50%,
    #bcb9b8 100%
  );
}
.ground {
  background: linear-gradient(
    to bottom,
    #f6de3d 50%,
    #ab9741 50%,
    #ab9741 100%
  );
}

.poke-info-wrapper {
  /* background-color: var(--pokemon-yellow); */
  width: 1000px;
  max-width: 95%;
  /* color: var(--background); */
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 0rem;
}

.next {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 15px;
}

.next-btn {
  padding: 10px;
  background-color: var(--pokemon-red);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.next a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .next-name {
    display: none;
  }
}

.poke-info-wrapper h2 {
  margin-top: 0;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .poke-info-wrapper {
    width: 90%;
  }
  .poke-info-wrapper h2 {
    margin: 0;
  }
  .inner-wrapper {
    flex-direction: column;
    max-width: 100%;
  }
  .type-container {
    order: 1;
    margin-bottom: 1rem;
  }
  .info-wrapper {
    order: 2;
    margin-bottom: 1rem;
  }
}

.info-wrapper {
  display: flex;
  /* background-color: #32363a7b;
  color: white; */
  /* border: 2px solid var(--background); */
  border-radius: 0.5rem;
  position: relative;
  /* box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px; */
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.poke-info {
  /* min-width: 10rem; */
  /* background-color: var(--pokemon-blue); */
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  /* color: var(--foregroud); */
}

.ability-name {
  cursor: pointer;
  background-color: var(--pokemon-blue);
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 20px;
  text-align: center;
  color: var(--foregroud);
}

.ability-modal {
  border-radius: 0.5rem;
  position: absolute;
  padding: 0.5rem 1rem;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--pokemon-yellow);
  color: var(--background);
}
.ability-modal h4 {
  margin-top: 0;
}
.close-span {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 2px;
  cursor: pointer;
}

.close-1,
.close-2 {
  position: absolute;
  width: 15px;
  height: 3px;
  background-color: var(--background);
}

.close-1 {
  transform: rotate(45deg);
}
.close-2 {
  transform: rotate(-45deg);
}

.poke-info h4 {
  margin: 0.5rem 0;
}

.img-container {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
}

.type-container,
.info-wrapper {
  flex-basis: 30%;
}

.poke-info-img {
  width: 400px;
  max-width: 85%;
  /* background-color: var(--background-light); */
  border-radius: 0.5rem;
  /* margin: 1rem; */
}

.stats-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem;
  position: relative;
  background-color: var(--pokemon-yellow);
  padding: 0.75rem;
  border-radius: 10px;
  color: var(--background);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.stat-bar {
  width: 6rem;
  height: 12.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  color: var(--foregroud);
  margin: 0.5rem;
  z-index: 1;
  position: relative;
}
.stat-bar-outer {
  width: 6rem;
  height: 12.5rem;

  background: linear-gradient(
    to top,
    #e3340d00 8%,
    #ffcb01 8%,
    #ffcb01 10%,
    #e3340d00 10%,
    #e3340d00 18%,
    #ffcb01 18%,
    #ffcb01 20%,
    #e3340d00 20%,
    #e3340d00 28%,
    #ffcb01 28%,
    #ffcb01 30%,
    #e3340d00 30%,
    #e3340d00 38%,
    #ffcb01 38%,
    #ffcb01 40%,
    #e3340d00 40%,
    #e3340d00 48%,
    #ffcb01 48%,
    #ffcb01 50%,
    #e3340d00 50%,
    #e3340d00 58%,
    #ffcb01 58%,
    #ffcb01 60%,
    #e3340d00 60%,
    #e3340d00 68%,
    #ffcb01 68%,
    #ffcb01 70%,
    #e3340d00 70%,
    #e3340d00 78%,
    #ffcb01 78%,
    #ffcb01 80%,
    #e3340d00 80%,
    #e3340d00 88%,
    #ffcb01 88%,
    #ffcb01 90%,
    #e3340d00 90%,
    #e3340d00 98%,
    #ffcb01 98%,
    #ffcb01 100%
  );
  margin: 0.5rem;
  padding: 0;
  z-index: 3;
  position: absolute;
  top: 0;
}

.stats-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stats-inner h4 {
  margin: 0;
  font-size: 0.7rem;
}

.stats-number {
  color: var(--background);
  z-index: 5;
  position: absolute;
  top: 0px;
}

@media screen and (max-width: 768px) {
  .stats-wrapper {
    width: 95%;
    max-width: 95vw;
  }
  .stats-inner {
    width: 15%;
    position: relative;
  }
  .stat-bar-outer,
  .stat-bar {
    width: 100%;
  }
  .stats-number {
    top: -8px;
  }
}

.type-container {
  text-align: center;
  max-width: 95%;
}

.type-container h3 {
  margin: 0rem;
}

.evo-wrapper {
  text-align: center;
}

.evo-inner {
  display: flex;
  justify-content: space-around;
}

.evo-card {
  flex-basis: 30%;
  border: 2px solid var(--pokemon-yellow);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.evo-card img {
  width: 100%;
}

.evo-card a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 768px) {
  .evo-card h4 {
    font-size: 0.8rem;
  }
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background: var(--background-light);
  padding: 0 20px;
  position: relative;
}
.search-content {
  position: relative;
  max-width: 1000px;
  width: 96%;
  height: 55px;
  background: var(--background);
  margin: 0 auto;
  border-radius: 40px;
  color: var(--foregroud);
}
.search-content img {
  position: absolute;
  left: 15px;
  top: 14px;
  width: 30px;
  margin: 0 10px;
}

.search-content input {
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  margin: 8px 0;
  padding: 0 0 0 60px;
  border: 0;
  width: 94%;
  background: transparent;
  height: 40px;
  color: var(--foregroud);
}
.search-content input:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .search-content input {
    width: -webkit-fill-available;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: var(--background-light);
}
.footer a {
  color: var(--foregroud);
  text-decoration: none;
}

.hide {
  display: none;
}

.types-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}
