@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --pokemon-red: #e3350d;
  --pokemon-blue: #316ab2;
  --pokemon-yellow: #ffcb01;
  --background: #32363a;
  --background-light: #596067;
  --foregroud: white;
  background-color: var(--background);
  color: var(--foregroud);
  box-sizing: border-box;
}

button {
  font-family: "Orbitron", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  text-align: center;
}

.header a {
  color: var(--foregroud);
  text-decoration: none;
}

.header-logo {
  max-width: 200px;
}

.header-logo-div,
.header-title,
.header-credits {
  flex-basis: 30%;
}

.hero-wrapper {
  height: 500px;
  display: flex;

  justify-content: center;
  align-items: center;
}

.hero-img {
  max-width: 8rem;
}

.hero-img-div {
  --hero-margin: 7rem;
  --hero-margin3: 9rem;
  --hero-margin2: -1rem;
  border-radius: 50%;
  border: rgba(255, 255, 255, 0.5) solid 2px;
  background-color: transparent;
  box-shadow: rgba(255, 255, 255, 0.75) 0 0 2rem,
    rgba(255, 255, 255, 0.75) 0 0 1.5rem inset;
  overflow: visible;
}

.hero-img0 {
  align-self: flex-start;
  margin-top: var(--hero-margin3);
}
.hero-img1 {
  align-self: flex-end;
  margin-bottom: var(--hero-margin);
  margin-left: var(--hero-margin2);
}
.hero-img2 {
  align-self: flex-start;
  margin-top: var(--hero-margin);
  margin-left: var(--hero-margin2);
}
.hero-img3 {
  align-self: flex-end;
  margin-bottom: var(--hero-margin3);
  margin-left: var(--hero-margin2);
}
.hero-img4 {
  margin: 1rem;
}
.hero-img4 .hero-img {
  max-width: 25rem;
}
.hero-img5 {
  align-self: flex-end;
  margin-bottom: var(--hero-margin3);
  margin-right: var(--hero-margin2);
}
.hero-img6 {
  align-self: flex-start;
  margin-top: var(--hero-margin);
  margin-right: var(--hero-margin2);
}
.hero-img7 {
  align-self: flex-end;
  margin-bottom: var(--hero-margin);
  margin-right: var(--hero-margin2);
}
.hero-img8 {
  align-self: flex-start;
  margin-top: var(--hero-margin3);
}

.pokedex-wrapper {
  margin: 2rem auto;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokedex-grid {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.card {
  list-style: none;
  text-align: center;
  width: 15rem;
  height: fit-content;
  margin: 0.75rem;
  cursor: pointer;
  position: relative;
  border-radius: 1rem;
  /* background-color: var(--background-light); */
  box-shadow: var(--foregroud) 0 0 10px;
}

.card-img {
  max-width: 100%;
}

.card a {
  text-decoration: none;
  color: var(--foregroud);
}

.card-num {
  position: absolute;
  top: 5px;
  right: 10px;
}

.spinner {
  border: 5px solid lightgray;
  border-top: 5px solid gray;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.8s linear infinite;
  margin: 20px auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button {
  background-color: var(--pokemon-yellow);
  color: var(--pokemon-blue);
  font-size: 1.5rem;
  padding: 1rem 3rem;
  margin: 1rem;
  border: 2px solid var(--pokemon-red);
  border-radius: 0.5rem;
  cursor: pointer;
}

/* Type buttons */

.type-btn {
  text-align: center;
  border-radius: 20px;
  border: none;
  margin: 1rem;
  padding: 0.2rem;
  font-size: 1.2rem;
  min-width: 10rem;
  cursor: pointer;
}

.type-btn-small {
  margin: 0.2rem;
  font-size: 1rem;
  min-width: auto;
  width: 5rem;
}

.poison {
  background-color: #b87fc8;
  color: white;
}

.grass {
  background-color: #9ccc50;
}

.electric {
  background-color: #edd435;
}

.fire {
  background-color: #fc7d22;
  color: white;
}

.bug {
  background-color: #719e3e;
  color: white;
}
.dark {
  color: white;
  background-color: #707070;
}
.fairy {
  background-color: #fcb8e8;
}
.fighting {
  color: white;
  background-color: #d56622;
}
.ghost {
  color: white;
  background-color: #7b62a3;
}
.ice {
  background-color: #51c5e7;
}
.normal {
  background-color: #a4acaf;
}
.psychic {
  background-color: #f466b9;
  color: white;
}
.rock {
  color: white;
  background-color: #a38c21;
}
.steel {
  background-color: #616161;
}
.water {
  color: white;
  background-color: #4591c4;
}
.dragon {
  background: linear-gradient(
    to bottom,
    #52a4ce 50%,
    #f06e56 50%,
    #f06e56 100%
  );
  color: white;
}
.flying {
  background: linear-gradient(
    to bottom,
    #3bc7ee 50%,
    #bcb9b8 50%,
    #bcb9b8 100%
  );
}
.ground {
  background: linear-gradient(
    to bottom,
    #f6de3d 50%,
    #ab9741 50%,
    #ab9741 100%
  );
}

.poke-info-wrapper {
  background-color: var(--pokemon-yellow);
  max-width: 1000px;
  color: var(--background);
  padding: 1rem;
  border-radius: 0.5rem;
}

.poke-info-wrapper h2 {
  margin-top: 0;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-wrapper {
  display: flex;
  border: 2px solid var(--background);
  border-radius: 0.5rem;
}

.poke-info {
  /* min-width: 10rem; */
  /* background-color: var(--pokemon-blue); */
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  /* color: var(--foregroud); */
}

.poke-info h4 {
  margin: 0.5rem 0;
}

.img-container {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
}

.type-container,
.info-wrapper {
  flex-basis: 30%;
}

.poke-info-img {
  max-width: 400px;
  /* background-color: var(--background-light); */
  border-radius: 0.5rem;
  margin: 1rem;
}

.stats-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  position: relative;
}

.stat-bar {
  width: 6rem;
  height: 12.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  color: var(--foregroud);
  margin: 0.5rem;
  z-index: 1;
  position: relative;
}
.stat-bar-outer {
  width: 6rem;
  height: 12.5rem;

  background: linear-gradient(
    to top,
    #e3340d00 8%,
    #ffcb01 8%,
    #ffcb01 10%,
    #e3340d00 10%,
    #e3340d00 18%,
    #ffcb01 18%,
    #ffcb01 20%,
    #e3340d00 20%,
    #e3340d00 28%,
    #ffcb01 28%,
    #ffcb01 30%,
    #e3340d00 30%,
    #e3340d00 38%,
    #ffcb01 38%,
    #ffcb01 40%,
    #e3340d00 40%,
    #e3340d00 48%,
    #ffcb01 48%,
    #ffcb01 50%,
    #e3340d00 50%,
    #e3340d00 58%,
    #ffcb01 58%,
    #ffcb01 60%,
    #e3340d00 60%,
    #e3340d00 68%,
    #ffcb01 68%,
    #ffcb01 70%,
    #e3340d00 70%,
    #e3340d00 78%,
    #ffcb01 78%,
    #ffcb01 80%,
    #e3340d00 80%,
    #e3340d00 88%,
    #ffcb01 88%,
    #ffcb01 90%,
    #e3340d00 90%,
    #e3340d00 98%,
    #ffcb01 98%,
    #ffcb01 100%
  );
  margin: 0.5rem;
  padding: 0;
  z-index: 3;
  position: absolute;
  top: 0;
}

.stats-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stats-inner h4 {
  margin: 0;
  font-size: 0.7rem;
}

.stats-number {
  color: var(--background);
  z-index: 5;
  position: absolute;
  top: -5px;
}

.type-container {
  text-align: center;
}

.type-container h3 {
  margin: 0.5rem;
}

.evo-wrapper {
  text-align: center;
}

.evo-inner {
  display: flex;
  justify-content: space-around;
}

.evo-card {
  flex-basis: 25%;
  border: 2px solid var(--background);
  border-radius: 0.5rem;
}

.evo-card img {
  width: 100%;
}

.evo-card a {
  text-decoration: none;
  color: var(--background);
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background: var(--background-light);
  padding: 0 20px;
  position: relative;
}
.search-content {
  position: relative;
  max-width: 1000px;
  width: 96%;
  height: 55px;
  background: var(--background);
  margin: 0 auto;
  border-radius: 40px;
  color: var(--foregroud);
}
.search-content img {
  position: absolute;
  left: 15px;
  top: 14px;
  width: 30px;
  margin: 0 10px;
}

.search-content input {
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  margin: 8px 0;
  padding: 0 0 0 60px;
  border: 0;
  width: 94%;
  background: transparent;
  height: 40px;
  color: var(--foregroud);
}
.search-content input:focus {
  outline: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: var(--background-light);
}
.footer a {
  color: var(--foregroud);
  text-decoration: none;
}
